<html>
<head>
	<title>receiptomatic / admin / activate user</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>

<!-- #BEGINZONE key_error -->
                <span class = "input_error">Invalid Key</span>
<!-- #ENDZONE key_error -->
<!-- #BEGINZONE expired -->
	<big>Welcome <i>##name##</i></big>
	<p />
	Unfortunately your activation key has expired.
	<p />
	Click <a href = "/generate_new_key/?name=##name##&email=##email##">here</a> to receive a new activation key.
<!-- #ENDZONE expired -->
<!-- #BEGINZONE activated -->
	Your account has been activated. Your username is the email address to
	which you received the account activation email.
	<p />
	Click <a href = "/login/">here</a> to login.
<!-- #ENDZONE activated -->
<!-- #BEGINZONE not_activated -->
	<big>Welcome <i>##name##</i></big>
        <p />
	To complete your account set up, you must set a password. This should be at least 8 characters long.
	<p />
<!-- #BEGINZONE pass_err_mismatch -->
	<span class = "input_error">Passwords do not match. Please enter them again.</span>
	<p />
<!-- #ENDZONE pass_err_mismatch -->
<!-- #BEGINZONE pass_err_length -->
	<span class = "input_error">Password is shorter than 8 characters. Please enter a longer pasword.</span>
	<p />
<!-- #ENDZONE pass_err_length -->
	<form action = "/activate_user/" method = "POST">
	Password: <input type = "password" name = "pass1" size = "15" maxlength = "32" />
	<br />
	Password: <input type = "password" name = "pass2" size = "15" maxlength = "32" />
	<p />
	<input type = "hidden" name = "key" value = "##key##" />
	<input type = "submit" value = "Activate" />
	</form>
<!-- #ENDZONE not_activated -->

</body>
</html>
