<html>
<head>
	<title>receiptomatic / admin / user stats</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<!-- #BEGINZONE approver -->
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	<!-- #ENDZONE approver -->
	<!-- #BEGINZONE admin -->
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	<!-- #ENDZONE admin -->
	<p />
	##user_hdr##
	<big><big>| Admin / User Stats</big></big><br />
	<hr />

<big><big>Stats for ##name##</big></big><small><span class = "lighter"> (##uid##) </span></small>
<p />

<big><span class = "lighter">Approved Receipts</span></big>
<table cellpadding = "2">
<tbody>
	<tr>
		<td><b>Currency</b></td>
		<td><b>Number Of Receipts</b></td>
		<td><b>Gross Total</b></td>
	<!-- #BEGINTABLE approved -->
	<tr>
		<td>##currency##</td>
		<td>##nr_rows##</td>
		<td>##total##</td>
	</tr>
	<!-- #ENDTABLE approved -->
</tbody>
</table>

<p />

<big><span class = "lighter">Rejected Receipts</span></big>
<table cellpadding = "2">
<tbody>
	<tr>
		<td> <b>Currency</b></td>
		<td><b>Number Of Receipts</b></td>
		<td><b>Gross Total</b></td>
	<!-- #BEGINTABLE rejects -->
	<tr>
		<td>##currency##</td>
		<td>##nr_rows##</td>
		<td>##total##</td>
	</tr>
	<!-- #ENDTABLE rejects -->
</tbody>
</table>

<p />

<big><span class = "lighter">Pending Receipts</span></big>
<table cellpadding = "2">
<tbody>
	<tr>
		<td><b>Currency</b></td>
		<td><b>Number Of Receipts</b></td>
		<td><b>Gross Total</b></td>
	<!-- #BEGINTABLE pending -->
	<tr>
		<td>##currency##</td>
		<td>##nr_rows##</td>
		<td>##total##</td>
	</tr>
	<!-- #ENDTABLE pending -->
</tbody>
</table>

<p />

<p />
There are <b>##untagged##</b> untagged receipts.

</body>
</html>
