<html>
<head>
	<title>receiptomatic / admin / pending activations</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<!-- #BEGINZONE approver -->
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	<!-- #ENDZONE approver -->
	<!-- #BEGINZONE admin -->
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	<!-- #ENDZONE admin -->
	<p />
	##user_hdr##
	<big><big>| Admin / Pending Activations</big></big>
	<hr />

	<form action = "/admin/pending_activations/" method = "POST">
	<table cellpadding = "4">
	<tbody>
	<tr>
		<td><strong>Name</strong></td>
		<td><strong>Username</strong></td>
		<td><strong>Expires</strong></td>
		<td><strong>Renew</strong></td>
		<td><strong>Remove</strong></td>
		<td><strong>Leave</strong></td>
	</tr>
<!-- #BEGINTABLE table -->
	<tr class = "##zebra##">
		<td>##name##</td>
		<td>##username##</td>
		<td>
		<!-- #BEGINZONE expired -->
			<span class = t_red>
		<!-- #ENDZONE expired -->
			##expires##
		<!-- #BEGINZONE expired -->
			</span>
		<!-- #ENDZONE expired -->
		</td>
		<td>
		<input type = "radio" name = "i##item##[action]"
			value = "renew">
		</td>
		<td>
		<input type = "radio" name = "i##item##[action]"
			value = "delete">
		</td>
		<td>
		<input type = "radio" name = "i##item##[action]"
			value = "leave" checked>
		<input type = "hidden" name = "i##item##[uid]"
			value = "##uid##" >
		<input type = "hidden" name = "i##item##[akey]"
			value = "##akey##" >
		</td>
	</tr>
<!-- #ENDTABLE table -->
	</tbody>
	</table>
	<input type = "hidden" name = "csrf_token" value = "##csrf_token##">
	<input type = "submit" value = "Submit" />
	</form>

<!-- #BEGINZONE multi_page -->
	<!-- #BEGINZONE prev_page -->
		<a href = "/admin/pending_activations/?page_no=##prev_page##"> Prev Page </a>
	<!-- #ENDZONE prev_page -->
	&nbsp;::&nbsp;
	<!-- #BEGINZONE next_page -->
		<a href = "/admin/pending_activations/?page_no=##next_page##"> Next Page </a>
	<!-- #ENDZONE next_page -->
<!-- #ENDZONE multi_page -->

</body>
</html>
