<html>
<head>
	<title>receiptomatic / admin / add user</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<!-- #BEGINZONE approver -->
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	<!-- #ENDZONE approver -->
	<!-- #BEGINZONE admin -->
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	<!-- #ENDZONE admin -->
	<p />
	##user_hdr##
	<big><big>| Admin / Add User</big></big>
	<hr />

	<!-- #BEGINZONE dup_user -->
		<span class = "t_red">
		<big><big>User Already Exists</big></big><p />
		</span>
	<!-- #ENDZONE dup_user -->

	<form action = "/admin/add_user/" method = "POST">
	Name: <input type = "text" name = "name" value = "##name##" size = "40"
			maxlength = "255" class = "
		<!--#BEGINZONE  name_error -->
			input_error
		<!-- #ENDZONE name_error -->
		" />
	<p />
	Email address: <input type = "text" name = "email1"
		value = "##email1##" size = "40" maxlength = "255" class = "
		<!-- #BEGINZONE email_error -->
			input_error
		<!-- #ENDZONE email_error -->
		" />
	<br />
	Email address: <input type = "text" name = "email2"
		value = "##email2##" size = "40" maxlength = "255" class = "
		<!-- #BEGINZONE email_error -->
			input_error
		<!-- #ENDZONE email_error -->
		" />
	<p />
	User can approve:<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Card: <input type = "checkbox"
		name = "ap_card" value = "true" ##ap_card## />
	<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cash: <input type = "checkbox"
		name = "ap_cash" value = "true" ##ap_cash## />
	<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cheque: <input type = "checkbox"
		name = "ap_cheque" value = "true" ##ap_cheque## />
	<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Self: <input type = "checkbox"
		name = "ap_self" value = "true" ##ap_self## />
	<br />
	<p />
	User is an admin: <input type = "checkbox" name = "is_admin"
		value = "true" ##is_admin## />
	<p />
	<input type = "hidden" name = "csrf_token" value = "##csrf_token##" />
	<input type = "submit" value = "Add" />
	</form>

</body>
</html>
