<html>
<head>
	<title>receiptomatic / admin / pending activations</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<tmpl_if name = "approver">
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	</tmpl_if>
	<tmpl_if name = "admin">
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	</tmpl_if>
	<p />
	<tmpl_var name = "user_hdr" />
	<big><big>| Admin / Pending Activations</big></big>
	<hr />

	<form action = "/admin/pending_activations/" method = "POST">
	<table cellpadding = "4">
	<tbody>
	<tr>
		<td><strong>Name</strong></td>
		<td><strong>Username</strong></td>
		<td><strong>Expires</strong></td>
		<td><strong>Renew</strong></td>
		<td><strong>Remove</strong></td>
		<td><strong>Leave</strong></td>
	</tr>
<tmpl_loop name = "table">
<tmpl_if name = "zebra" value = "yes">
	<tr class = "listzebra">
<tmpl_else>
	<tr>
</tmpl_if>
		<td><tmpl_var name = "name" fmt = "de_xss" /></td>
		<td><tmpl_var name = "username" fmt = "de_xss" /></td>
		<td>
		<tmpl_if name = "expired">
			<span class = t_red>
		</tmpl_if>
			<tmpl_var name = "expires" />
		<tmpl_if name = "expired">
			</span>
		</tmpl_if>
		</td>
		<td>
		<input type = "radio" name = "i<tmpl_var name = 'item' />[action]" value = "renew">
		</td>
		<td>
		<input type = "radio" name = "i<tmpl_var name = 'item' />[action]" value = "delete">
		</td>
		<td>
		<input type = "radio" name = "i<tmpl_var name = 'item' />[action]" value = "leave" checked>
		<input type = "hidden" name = "i<tmpl_var name = 'item' />[uid]" value = "<tmpl_var name = 'uid' />" >
		<input type = "hidden" name = "i<tmpl_var name = 'item' />[akey]" value = "<tmpl_var name = 'akey' />" >
		</td>
	</tr>
</tmpl_loop>
	</tbody>
	</table>
	<input type = "hidden" name = "csrf_token" value = "<tmpl_var name = 'csrf_token' />">
	<input type = "submit" value = "Submit" />
	</form>

<tmpl_if name = "no_pages">
<tmpl_else>
	<tmpl_if name = "prev_page">
		<a href = "/admin/pending_activations/?page_no=<tmpl_var name = 'prev_page' />"> Prev Page </a>
	<tmpl_else>
		<span class = "lighter">Prev Page</span>
	</tmpl_if>
	&nbsp;::&nbsp;
	<tmpl_if name = "next_page">
		<a href = "/admin/pending_activations/?page_no=<tmpl_var name = 'next_page' />"> Next Page </a>
	<tmpl_else>
		<span class = "lighter">Next Page</span>
	</tmpl_if>
</tmpl_if>

</body>
</html>
