<html>
<head>
	<title>receiptomatic / admin / user list</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<!-- #BEGINZONE approver -->
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	<!-- #ENDZONE approver -->
	<!-- #BEGINZONE admin -->
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	<!-- #ENDZONE admin -->
	<p />
	##user_hdr##
	<big><big>| Admin / User List</big></big>
	<hr />

	<table cellpadding = "4">
	<tbody>
	<tr>
		<td><strong>UID</strong></td>
		<td><strong>Username</strong></td>
		<td><strong>Name</strong></td>
		<td><strong>Capabilities</strong></td>
		<td></td>
	</tr>
<!-- #BEGINTABLE table -->
	<tr class = "##zebra##">
		<td>##uid##</td>
		<td>##username##</td>
		<td>##name##</td>
		<td>##capabilities##</td>
	<!-- #BEGINZONE activated -->
		<td>&nbsp;&nbsp;</td>
	<!-- #ENDZONE activated -->
	<!-- #BEGINZONE not_activated -->
		<td style = "background-color: rgb(0, 0, 0);">&nbsp;&nbsp;</td>
	<!-- #ENDZONE not_activated -->
	<!-- #BEGINZONE enabled -->
		<td style = "background-color: rgb(0, 200, 0);">&nbsp;&nbsp;</td>
	<!-- #ENDZONE enabled -->
	<!-- #BEGINZONE not_enabled -->
		<td style = "background-color: rgb(200, 0, 0);">&nbsp;&nbsp;</td>
	<!-- #ENDZONE not_enabled -->
	<!-- #BEGINZONE admin -->
		<td style = "background-color: rgb(0, 0, 200);">&nbsp;&nbsp;</td>
	<!-- #ENDZONE admin -->
	<!-- #BEGINZONE not_admin -->
		<td>&nbsp;&nbsp;</td>
	<!-- #ENDZONE not_admin -->
	<td>&nbsp;&nbsp;</td>
	<td><a href = "/admin/edit_user/?uid=##uid##">edit</a></td>
	<td><a href = "/admin/user_stats/?uid=##uid##">stats</a></td>
	</tr>
<!-- #ENDTABLE table -->
	</tbody>
	</table>

	<p />
	<hr>
	<table cellpadding = "4">
	<tbody>
	<tr>
		<td style = "background-color: rgb(0, 0, 0);">&nbsp;&nbsp;</td>
		<td>Account is <b>not</b> activated</td>

		<td style = "background-color: rgb(200, 0, 0);">&nbsp;&nbsp;</td>
		<td>Account is disabled</td>

		<td style = "background-color: rgb(0, 200, 0);">&nbsp;&nbsp;</td>
		<td>Account is enabled</td>

		<td style = "background-color: rgb(0, 0, 200);">&nbsp;&nbsp;</td>
		<td>User is an <b>admin</b></td>
	</tr>
	</tbody>
	</table>

<!-- #BEGINZONE multi_page -->
	<!-- #BEGINZONE prev_page -->
		<a href = "/admin/list_users/?page_no=##prev_page##"> Prev Page </a>
	<!-- #ENDZONE prev_page -->
	&nbsp;::&nbsp;
	<!-- #BEGINZONE next_page -->
		<a href = "/admin/list_users/?page_no=##next_page##"> Next Page </a>
	<!-- #ENDZONE next_page -->
<!-- #ENDZONE multi_page -->

</body>
</html>
