<html>
<head>
	<title>receiptomatic / approve receipts</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<!-- #BEGINZONE approver -->
	&nbsp;<span class = t_red>|</span> approve receipts | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	<!-- #ENDZONE approver -->
	<!-- #BEGINZONE admin -->
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	<!-- #ENDZONE admin -->
	<p />
	##user_hdr##
	<big><big>| Approve Receipts</big></big>
	<hr />

<!-- #BEGINZONE receipts -->
	<form action = "/process_receipt_approval/" method = "POST">
	<table>
	<tbody>

<!-- #BEGINTABLE table -->
	<tr>
		<td><small><span class = "lighter">User</span></small></td>
		<td><small><span class = "lighter">##f.department##</span></small></td>
		<td><small><span class = "lighter">##f.employee_number##</span></small></td>
		<td><small><span class = "lighter">Uploaded at</span></small></td>
		<td><small><span class = "lighter">Tagged at</span></small></td>
		<td><small><span class = "lighter">##f.receipt_date##</span></small></td>
		<td width = "5%"></td>
		<td rowspan = "8">
		<a href = "/get_image/##image_path##/##image_name##">
		<img src = "/get_image/##image_path##/small/##image_name##"
			width = "145" height = "145" /></a>
		</td>
	</tr>
	<tr>
		<td><small>##name##</small></td>
		<td><small>##department##</small></td>
		<td><small>##employee_number##</small></td>
		<td><small>##images_timestamp##</small></td>
		<td><small>##tags_timestamp##</small></td>
		<td><small>##receipt_date##</small></td>
	</tr>
	<tr>
		<td><small><span class = "lighter">##f.cost_codes##</span></small></td>
		<td><small><span class = "lighter">##f.account_codes##</span></small></td>
		<td><small><span class = "lighter">##f.po_num##</span></small></td>
	</tr>
	<tr>
		<td><small>##cost_codes##</small></td>
		<td><small>##account_codes##</small></td>
		<td><small>##po_num##</small></td>
	</tr>
	<tr>
		<td><small><span class = "lighter">##f.gross_amount##</span></small></td>
		<td><small><span class = "lighter">##f.vat_amount##</span></small></td>
		<td><small><span class = "lighter">##f.net_amount##</span></small></td>
		<td><small><span class = "lighter">##f.vat_rate##</span></small></td>
		<td><small><span class = "lighter">##f.currency##</span></small></td>
		<td><small><span class = "lighter">##f.payment_method##</span></small></td>
	</tr>
	<!-- #BEGINZONE amnt_ok -->
	<tr style = "background-color: rgb(210, 250, 200);">
	<!-- #ENDZONE amnt_ok -->
	<!-- #BEGINZONE amnt_err -->
	<tr style = "background-color: rgb(240, 180, 175);">
	<!-- #ENDZONE amnt_err -->
		<td><small>##gross_amount##</small></td>
		<td><small>##vat_amount##</small></td>
		<td><small>##net_amount##</small></td>
		<td><small>##vat_rate##</small></td>
		<td><small>##currency##</small></td>
		<td><small>##payment_method##</small></td>
	</tr>
	<tr>
		<td><small><span class = "lighter">##f.supplier_name##</span></small></td>
		<td><small><span class = "lighter">##f.supplier_town##</span></small></td>
		<td><small><span class = "lighter">##f.vat_number##</span></small></td>
		<td><small><span class = "lighter">##f.reason##</span></small></td>
	</tr>
	<tr>
		<td><small>##supplier_name##</small></td>
		<td><small>##supplier_town##</small></td>
		<td><small>##vat_number##</small></td>
		<td><small>##reason##</small></td>
	</tr>
	<tr>
		<td colspan = "6">
		<small><span class = "lighter">Reason </span>
		<input type = "text" name = "i##item##[reason]" size = "60" /></small>
		</td>
		<td colspan = "2">
		<input type = "hidden" name = "i##item##[id]" value = "##id##" />
		Skip <input type = "radio" name = "i##item##[approved_status]" value = "s" checked />&nbsp;&nbsp;
		Approve <input type = "radio" name = "i##item##[approved_status]" value = "a" />&nbsp;&nbsp;
		Reject <input type = "radio" name = "i##item##[approved_status]" value = "r" />
		</td>
	</tr>
	<tr>
		<td colspan = "8"><p /></td>
	</tr>
<!-- #ENDTABLE table -->

	</tbody>
	</table>

	<br />

	<div id = "footer" style = "width: 100%">
		<div id = "form_btn" style = "width: 75%; float: left;">
		<input type = "submit" value = "Submit" />
		</div>

		<!-- #BEGINZONE multi_page -->
			<div id = "page_nav" style = "width: 25%; float: right;">
			<!-- #BEGINZONE prev_page -->
				<a href = "/approve_receipts/?page_no=##prev_page##"> Prev Page </a>
			<!-- #ENDZONE prev_page -->
			&nbsp;::&nbsp;
			<!-- #BEGINZONE next_page -->
				<a href = "/approve_receipts/?page_no=##next_page##"> Next Page </a>
			<!-- #ENDZONE next_page -->
			</div>
		<!-- #ENDZONE multi_page -->
	</div>

	<input type = "hidden" name = "csrf_token" value = "##csrf_token##" />
	</form>

<!-- #ENDZONE receipts -->

</body>
</html>
