<html>
<head>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>

<center>
<big><big><big>You have chosen to delete this image.</big></big></big>
<p />

<img src = "/get_image/<tmpl_var name = 'image_path' />/medium/<tmpl_var name = 'image_name' />" width = "300" height = "300" />
<p />

<big><big><big>
Do you wish to continue with deletion?
<p />

<div style = "width; 100%">
<div style = "width: 50%; float: left;">
<form action = "<tmpl_var name = 'base_url' />/delete_image/" method = "POST">
<input type = "hidden" name = "image_id" value = "<tmpl_var name = 'image_id' />">
<input type = "hidden" name = "confirm" value = "yes">
<input type = "submit" value = "Yes" />
</form>
</div>

<div style = "width: 50%; float: right;">
<form action = "<tmpl_var name = 'base_url' />/receipts/" method = "GET">
<input type = "submit" value = "No" />
</form>
</div>
</div>
</big></big></big>
</center>

</body>
</html>
