<html>
<head>
	<title>extract data</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/fmap/">field mapping</a> |
	<tmpl_if name = "user_caps" value = "approver">
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | extract data <span class = t_red>|</span>
	</tmpl_if>
	<p />
	<big><big> <tmpl_var name = "name" /></big></big>
	<small><span class = "lighter"> (<tmpl_var name = "uid" />) </span></small>
	<tmpl_if name = "user_caps" value = "approver">
		<span class = "t_red">(Approver)</span>&nbsp;
	</tmpl_if>
	<big><big>| Extract Data</big></big>
	<hr />

	<a href = "/do_extract_data/?whence=now">Approved receipts in this session</a>

</body>
</html>
