<html>
<head>
	<title>receiptomatic / forgotten password</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>

<big>
<tmpl_if name = "sent">
	Activation email sent to: <tmpl_var name = "email" />
<tmpl_else>
	Enter your username / email address below in order to receive a new activation email.
	<p />
	<tmpl_if name = "user_error">
		<span class = "t_red">Account not found for: </span><tmpl_var name = "email" /><br />
	</tmpl_if>
	<form action = "/forgotten_password/" method = "POST">
	Username / Email Address : <input type = "text" name = "email" size = "48" value = "<tmpl_var name = 'email' />" class = "
	<tmpl_if name = 'user_error'>/>
		input_error
	</tmpl_if>
	" />
	<p />
	<input type = "submit" value = "Submit">
	</form>
</tmpl_if>
</big>

</body>
</html>
