<html>
<head>
	<title>receiptomatic / forgotten password</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>

<big>
<!-- #BEGINZONE sent -->
	Activation email sent to: ##email##
<!-- #ENDZONE sent -->
<!-- #BEGINZONE reset -->
	Enter your username / email address below in order to receive a new activation email.
	<p />
	<!-- #BEGINZONE user_error -->
	<span class = "t_red">Account not found for: </span>##email##<br />
	<!-- #ENDZONE user_error -->
	<form action = "/forgotten_password/" method = "POST">
	Username / Email Address : <input type = "text" name = "email"
		size = "48" value = "##email##" class = "
	<!-- #BEGINZONE user_error -->
		input_error
	<!-- #ENDZONE user_error -->
	" />
	<p />
	<input type = "submit" value = "Submit">
	</form>
<!-- #ENDZONE reset -->
</big>

</body>
</html>
