<html>
<head>
	<title>generate new key</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>

<big>
A new activation key has been generated and emailed to you at '<tmpl_var name = "email" />'
</big>

</body>
</html>
