<html>
<head>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	<big>For your security. You have been logged out and your session destroyed.</big>
</body>
</html>
