<html>
<head>
	<title>receiptomatic / preferences / edit user</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<tmpl_if name = "approver">
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	</tmpl_if>
	<tmpl_if name = "admin">
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	</tmpl_if>
	<p />
	<tmpl_var name = "user_hdr" />
	<big><big>| Preferences / Edit User</big></big>
	<hr />

<tmpl_if name = "updated" value = "yes">
	<big><big><span class = "lighter">Updated</span></big></big>
	<p />
</tmpl_if>

	<form action = "/prefs/edit_user/" method = "POST">
	Name: <input type = "text" name = "name" value = "<tmpl_var name = 'name' fmt = 'de_xss' />" size = "40" maxlength = "255" class = "
		<tmpl_if name = 'name_error'>
			input_error
		</tmpl_if>
		" />
	<p />
<tmpl_if name = "email_error">
	<big><span class = "t_red">Usernames do not match</span></big><br />
<tmpl_elsif name = "user_exists">
	<big><span class = "t_red">Username already exists</span></big><br />
</tmpl_if>
	<big><span class = "lighter">Username should be your email address</span></big><br/ >
	Username: <input type = "text" name = "email1" value = "<tmpl_var name = 'email1' fmt = 'de_xss' />" size = "40" maxlength = "255" class = "
		<tmpl_if name = 'email_error'>
			input_error
		</tmpl_if>
		" />
	<br />
	Username: <input type = "text" name = "email2" value = "<tmpl_var name = 'email2' fmt = 'de_xss' />" size = "40" maxlength = "255" class = "
		<tmpl_if name = 'email_error'>
			input_error
		</tmpl_if>
		" />
	<p />
<tmpl_if name = "pass_error" value = "mismatch">
	<span class = "t_red">Passwords do not match</span><br />
<tmpl_elsif name = "pass_error" value = "length">
	<span class = "t_red">Password should be at least 8 characters long</span><br/>
</tmpl_if>
	Password: <input type = "password" name = "pass1" value = "<tmpl_var name = 'pass2' />" size = "12" maxlength = "64" class = "
		<tmpl_if name = 'pass_error'>
			input_error
		</tmpl_if>
		" />
	<br />
        Password: <input type = "password" name = "pass2" value = "<tmpl_var name = 'pass2' />" size = "12" maxlength = "64" class = "
		<tmpl_if name = 'pass_error'>
			input_error
		</tmpl_if>
		" />
	<p />
	<input type = "hidden" name = "csrf_token" value = "<tmpl_var name = 'csrf_token' />" />
	<input type = "submit" value = "Update" />
	</form>

</body>
</html>
