<html>
<head>
	<title>receiptomatic / preferences / field mapping</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a>  | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<!-- #BEGINZONE approver -->
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	<!-- #ENDZONE approver -->
	<!-- #BEGINZONE admin -->
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	<!-- #ENDZONE admin -->
	<p />
	##user_hdr##
	<big><big>| Change Field Names</big></big>
	<hr />

	<!-- #BEGINZONE fields_updated -->
		<big>Fields updated</big><p />
	<!-- #ENDZONE fields_updated -->

	<form action = "/prefs/fmap/" method = "POST">

	<table border = "2">
	<tbody>

	<tr>
		<td><b>Default Field Name</b></td>
		<td><b>Alternative Field Name</b></td>
	</tr>

	<tr>
		<td>##receipt_date##</td>
		<td><input type = "text" name = "receipt_date"
			value = "##alt_receipt_date##" /></td>
	</tr>

	<tr>
		<td>##department##</td>
		<td><input type = "text" name = "department"
			value = "##alt_department##" /></td>
	</tr>

	<tr>
		<td>##employee_number##</td>
		<td><input type = "text" name = "employee_number"
			value = "##alt_employee_number##" /></td>
	</tr>

	<tr>
		<td>##reason##</td>
		<td><input type = "text" name = "reason"
			value = "##alt_reason##" /></td>
	</tr>

	<tr>
		<td>##po_num##</td>
		<td><input type = "text" name = "po_num"
			value = "##alt_po_num##" /></td>
	</tr>

	<tr>
		<td>##cost_codes##</td>
		<td><input type = "text" name = "cost_codes"
			value = "##alt_cost_codes##" /></td>
	</tr>

	<tr>
		<td>##account_codes##</td>
		<td><input type = "text" name = "account_codes"
			value = "##alt_account_codes##" /></td>
	</tr>

	<tr>
		<td>##supplier_name##</td>
		<td><input type = "text" name = "supplier_name"
			value = "##alt_supplier_name##" /></td>
	</tr>

	<tr>
		<td>##supplier_town##</td>
		<td><input type = "text" name = "supplier_town"
			value = "##alt_supplier_town##" /></td>
	</tr>

	<tr>
		<td>##vat_number##</td>
		<td><input type = "text" name = "vat_number"
			value = "##alt_vat_number##" /></td>
	</tr>

	<tr>
		<td>##gross_amount##</td>
		<td><input type = "text" name = "gross_amount"
			value = "##alt_gross_amount##" /></td>
	</tr>

	<tr>
		<td>##net_amount##</td>
		<td><input type = "text" name = "net_amount"
			value = "##alt_net_amount##" /></td>
	</tr>

	<tr>
		<td>##vat_amount##</td>
		<td><input type = "text" name = "vat_amount"
			value = "##alt_vat_amount##" /></td>
	</tr>

	<tr>
		<td>##vat_rate##</td>
		<td><input type = "text" name = "vat_rate"
			value = "##alt_vat_rate##" /></td>
	</tr>

	<tr>
		<td>##currency##</td>
		<td><input type = "text" name = "currency"
			value = "##alt_currency##" /></td>
	</tr>
	<tr>
		<td>##payment_method##</td>
		<td><input type = "text" name = "payment_method"
			value = "##alt_payment_method##" /></td>
	</tr>

	</tbody>
	</table>

	<p />

	<input type = "hidden" name = "csrf_token" value = "##csrf_token##" />
	<input type = "submit" value = "Make it so">
	</form>

</body>
</html>
