<html>
<head>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a>  | <a href = "/tagged_receipts/">tagged receipts</a> | field mapping |
	<p />
	<big><big> <tmpl_var name = "name" />&nbsp;</big></big>
	<tmpl_if name = "user_type" value = "approver">
		<span class = "t_red">(Approver)</span>&nbsp;
	</tmpl_if>
	<big><big>| Change Field Names</big></big>
	<hr />

	<tmpl_if name = "fields_updated" value = "yes">
		<big>Fields updated</big><p />
	</tmpl_if>

	<form action = "<tmpl_var name = 'base_url' />/prefs/fmap/" method = "POST">

	<table border = "2">
	<tbody>

	<tr>
		<td><b>Default Field Name</b></td>
		<td><b>Alternative Field Name</b></td>
	</tr>

	<tr>
		<td><tmpl_var name = "receipt_date" /></td>
		<td><input type = "text" name = "receipt_date" value = '<tmpl_var name = "alt_receipt_date" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "department" /></td>
		<td><input type = "text" name = "department" value = '<tmpl_var name = "alt_department" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "employee_number" /></td>
		<td><input type = "text" name = "employee_number" value = '<tmpl_var name = "alt_employee_number" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "reason" /></td>
		<td><input type = "text" name = "reason" value = '<tmpl_var name = "alt_reason" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "po_num" /></td>
		<td><input type = "text" name = "po_num" value = '<tmpl_var name = "alt_po_num" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "cost_codes" /></td>
		<td><input type = "text" name = "cost_codes" value = '<tmpl_var name = "alt_cost_codes" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "account_codes" /></td>
		<td><input type = "text" name = "account_codes" value = '<tmpl_var name = "alt_account_codes" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "supplier_name" /></td>
		<td><input type = "text" name = "supplier_town" value = '<tmpl_var name = "alt_supplier_name" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "supplier_town" /></td>
		<td><input type = "text" name = "supplier_town" value = '<tmpl_var name =" alt_supplier_town" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "vat_number" /></td>
		<td><input type = "text" name = "vat_number" value = '<tmpl_var name = "alt_vat_number" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "gross_amount" /></td>
		<td><input type = "text" name = "gross_amount" value = '<tmpl_var name = "alt_gross_amount" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "net_amount" /></td>
		<td><input type = "text" name = "net_amount" value = '<tmpl_var name = "alt_net_amount" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "vat_amount" /></td>
		<td><input type = "text" name = "vat_amount" value = '<tmpl_var name = "alt_vat_amount" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "vat_rate" /></td>
		<td><input type = "text" name = "vat_rate" value = '<tmpl_var name = "alt_vat_rate" />' /></td>
	</tr>

	<tr>
		<td><tmpl_var name = "currency" /></td>
		<td><input type = "text" name = "currency" value = '<tmpl_var name = "alt_currency" >' /></td>
	</tr>
	<tr>
		<td><tmpl_var name = "payment_method" /></td>
		<td><input type = "text" name = "payment_method" value = '<tmpl_var name = "alt_payment_method" >' /></td>
	</tr>

	</tbody>
	</table>

	<p />

	<input type = "submit" value = "Make it so">
	</form>

</body>
</html>
