<html>
<head>
	<title>preferences</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | preferences |
	<tmpl_if name = "approver">
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	</tmpl_if>
	<tmpl_if name = "admin">
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	</tmpl_if>
	<p />
	<tmpl_var name = "user_hdr" />
	<big><big>| Preferences</big></big>
	<hr />

	<big><a href = "/prefs/fmap/">Edit Field Names</a></big>
	<br />
	<big><a href = "/prefs/edit_user/">Edit User Details</a></big>

</body>
</html>
