<html>
<head>
	<title>receiptomatic / preferences / edit user</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<!-- #BEGINZONE approver -->
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	<!-- #ENDZONE approver -->
	<!-- #BEGINZONE admin -->
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	<!-- #ENDZONE admin -->
	<p />
	##user_hdr##
	<big><big>| Preferences / Edit User</big></big>
	<hr />

<!-- #BEGINZONE updated -->
	<big><big><span class = "lighter">Updated</span></big></big>
	<p />
<!-- #ENDZONE updated -->

	<form action = "/prefs/edit_user/" method = "POST">
	Name: <input type = "text" name = "name" value = "##name##" size = "40"
		maxlength = "255" />
	<p />
<!-- #BEGINZONE email_error -->
	<big><span class = "t_red">Usernames do not match</span></big><br />
<!-- #ENDZONE email_error -->
<!-- #BEGINZONE user_exists -->
	<big><span class = "t_red">Username already exists</span></big><br />
<!-- #ENDZONE user_exists -->
	<big><span class = "lighter">Username should be your email address</span></big><br/ >
	Username: <input type = "text" name = "email1" value = "##email1##"
			size = "40" maxlength = "255" class = "
			<!-- #BEGINZONE email_error -->
			input_error
			<!-- #ENDZONE email_error -->
			" />
	<br />
	Username: <input type = "text" name = "email2" value = "##email2##"
			size = "40" maxlength = "255" class = "
			<!-- #BEGINZONE email_error -->
			input_error
			<!-- #ENDZONE email_error -->
			" />
	<p />
<!-- #BEGINZONE pass_err_mismatch -->
	<span class = "t_red">Passwords do not match</span><br />
<!-- #ENDZONE pass_err_mismatch -->
<!-- #BEGINZONE pass_err_length -->
	<span class = "t_red">Password should be at least 8 characters long</span><br/>
<!-- #ENDZONE pass_err_length -->
	Password: <input type = "password" name = "pass1"
			value = "##pass1##" size = "12" maxlength = "64"
			class = "
			<!-- #BEGINZONE pass_error -->
			input_error
			<!-- #ENDZONE pass_error -->
			" />
	<br />
        Password: <input type = "password" name = "pass2"
			value = "##pass2##" size = "12" maxlength = "64"
			class = "
			<!-- #BEGINZONE pass_error -->
			input_error
			<!-- #ENDZONE pass_error -->
			" />
	<p />
	<input type = "hidden" name = "csrf_token" value = "##csrf_token##" />
	<input type = "submit" value = "Update" />
	</form>

</body>
</html>
