<html>
<head>
	<title>receiptomatic / receipt info</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | receipt info | <a href = "/prefs/">preferences</a> |
	<!-- #BEGINZONE approver -->
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	<!-- #ENDZONE approver -->
	<!-- #BEGINZONE admin -->
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	<!-- #ENDZONE admin -->
	<p />
	##user_hdr##
	<big><big>| Receipt Info</big></big>
	<hr />

<!-- #BEGINZONE show_info -->
	<center>
		##r_user## <small><span class = "lighter">(##r_uid##)</span></small><p />
		<span class = "lighter">id </span>: ##id##
	</center>
	<p />

	<!-- #BEGINZONE edit -->
		<form action = "/process_receipt/" method = "POST">
	<!-- #ENDZONE edit -->

	<table>
	<tbody>

	<tr>
		<td rowspan = "21" width = "45%">
		<a href = "/get_image/##image_path##/##image_name##">
		<img src = "/get_image/##image_path##/medium/##image_name##"
			width = "300" height = "300" /></a>
		</td>

		<td><big><span class = "lighter">Uploaded at </span></big></td>
		<td> : ##images_timestamp##</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">Tagged at </span></big></td>
		<td> : ##tags_timestamp##</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.department##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "department"
				value = "##department##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##department##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.employee_number##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "employee_number"
				value = "##employee_number##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##employee_number##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.cost_codes## </span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "cost_codes"
				value = "##cost_codes##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##cost_codes##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.account_codes##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "account_codes"
				value = "##account_codes##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##account_codes##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.po_num##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "po_num"
				value = "##po_num##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##po_num##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.supplier_name##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "supplier_name"
				value = "##supplier_name##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##supplier_name##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.supplier_town##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "supplier_town"
				value = "##supplier_town##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##supplier_town##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.currency##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<select name = "currency">
			<option value = "GBP" <!-- #BEGINZONE GBP -->selected<!-- #ENDZONE GBP -->>GBP&nbsp;</option>
			<option value = "USD" <!-- #BEGINZONE USD -->selected<!-- #ENDZONE USD -->>USD&nbsp;</option>
			<option value = "EUR" <!-- #BEGINZONE EUR -->selected<!-- #ENDZONE EUR -->>EUR&nbsp;</option>
			</select>
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##currency##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.gross_amount##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "gross_amount"
				value = "##gross_amount##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##gross_amount##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.vat_amount##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "vat_amount"
				value = "##vat_amount##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##vat_amount##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.net_amount##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "net_amount"
				value = "##net_amount##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##net_amount##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.vat_rate##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "vat_rate"
				value = "##vat_rate##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##vat_rate##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.vat_number##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "vat_number"
				value = "##vat_number##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##vat_number##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.reason##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "reason"
				value = "##reason##">
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##reason##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.receipt_date##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<input type = "text" name = "receipt_date"
				value = "##receipt_date##">
		<!-- #ENDZONE edit -->
                <!-- #BEGINZONE noedit -->
			##receipt_date##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">##f.payment_method##</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE edit -->
			<select name = "payment_method">
			<option value = "Card" <!-- #BEGINZONE card -->selected<!-- #ENDZONE card -->>Card</option>
			<option value = "Cash" <!-- #BEGINZONE cash -->selected<!-- #ENDZONE cash -->>Cash</option>
			<option value = "Cheque" <!-- #BEGINZONE cheque -->selected<!-- #ENDZONE cheque -->>Cheque</option>
			</select>
		<!-- #ENDZONE edit -->
		<!-- #BEGINZONE noedit -->
			##payment_method##
		<!-- #ENDZONE noedit -->
		</td>
	</tr>
	<tr>
		<td><big><span class = "lighter">Approval Status</span></big></td>
		<td> :&nbsp;
		<!-- #BEGINZONE rejected -->
			<span class = "t_red">Rejected</span>
			<span class = "lighter"> (##a_time##)</span>
		<!-- #ENDZONE rejected -->
		<!-- #BEGINZONE pending -->
			<span class = "t_yellow">Pending</span>
		<!-- #ENDZONE pending -->
		<!-- #BEGINZONE approved -->
			<span class = "t_green">Approved</span>
			<span class = "lighter"> (##a_time##)</span>
		<!-- #ENDZONE approved -->
		</td>
	</tr>
	<!-- #BEGINZONE reviewed_by_n -->
	<tr>
		<td></td>
		<td> :&nbsp;
		<span class = "lighter">##reviewed_by_n## <small>(##reviewed_by_u##)</small></span>
		</td>
	</tr>
	<!-- #ENDZONE reviewed_by_n -->
	<tr>
	<!-- #BEGINZONE reject_reason -->
		<td><big><span class = "lighter">Reject Reason</span></big></td>
		<td> :&nbsp;
		##reject_reason##
		</td>
	<!-- #ENDZONE reject_reason -->
	</tr>

	</tbody>
	</table>

	<!-- #BEGINZONE showedit -->
		<form action = "/receipt_info/" method = "GET">
		<input type = "hidden" name = "image_id" value = "##id##" />
		<input type = "hidden" name = "edit" value = "true" />
		<input type = "submit" value = "Edit" />
		</form>
	<!-- #ENDZONE showedit -->

	<!-- #BEGINZONE edit -->
		<input type = "hidden" name = "image_path" value = "##image_path##" />
		<input type = "hidden" name = "image_name" value = "##image_name##" />
		<input type = "hidden" name = "image_id" value = "##id##" />
		<input type = "hidden" name = "from" value = "receipt_info" />
		<input type = "hidden" name = "csrf_token" value = "##csrf_token##" />
		<input type = "submit" value = "Update" />
		</form>
	<!-- #ENDZONE edit -->
<!-- #ENDZONE show_info -->

</body>
</html>
