<html>
<body>
<head>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | receipt info | <a href = "/prefs/fmap/">field mapping</a> |
	<p />

	<big><big><tmpl_var name = "name" /> | Receipt Info</big></big>
	<hr />

<tmpl_if name = "show_info" value = "no">
</body>
</html>
<tmpl_else>
	<table>
	<tbody>

	<tr>
		<td rowspan = "18">
		<img src = '/get_image/<tmpl_var name = "image_path" />/medium/<tmpl_var name = "image_name" />' width = "300" height = "300" />
		</td>

		<td><big>Uploaded at </big></td>
		<td> : <tmpl_var name = "images_timestamp" /></td>
	</tr>
	<tr>
		<td><big>Tagged at </big></td>
		<td> : <tmpl_var name = "tags_timestamp" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.department" /></big></td>
		<td> : <tmpl_var name = "department" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.employee_number" /></big></td>
		<td> : <tmpl_var name = "employee_number" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.cost_codes" /></big></td>
		<td> : <tmpl_var name = "cost_codes" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.account_codes" /></big></td>
		<td> : <tmpl_var name = "account_codes" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.po_num" /></big></td>
		<td> : <tmpl_var name = "po_num" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.supplier_name" /></big></td>
		<td> : <tmpl_var name = "supplier_name" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.supplier_town" /></big></td>
		<td> : <tmpl_var name = "supplier_town" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.currency" /></big></td>
		<td> : <tmpl_var name = "currency" /></td>
	</tr>
		<td><big><tmpl_var name = "fields.gross_amount" /></big></td>
		<td> : <tmpl_var name = "gross_amount" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.vat_amount" /></big></td>
		<td> : <tmpl_var name = "vat_amount" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.net_amount" /></big></td>
		<td> : <tmpl_var name = "net_amount" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.vat_rate" /></big></td>
		<td> : <tmpl_var name = "vat_rate" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.vat_number" /></big></td>
		<td> : <tmpl_var name = "vat_number" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.reason" /></big></td>
		<td> : <tmpl_var name = "reason" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.receipt_date" /></big></td>
		<td> : <tmpl_var name = "receipt_date" /></td>
	</tr>
	<tr>
		<td><big><tmpl_var name = "fields.payment_method" /></big></td>
		<td> : <tmpl_var name = "payment_method" /></td>
	</tr>

	</tbody>
	</table>

</body>
</html>
</tmpl_if>
