<html>
<body>
<head>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | receipt info | <a href = "/prefs/fmap/">field mapping</a> |
	<tmpl_if name = "user_type" value = "approver">
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/">approve receipts</a> | <a href = "/reviewed_receipts/">reviewed receipts</a> <span class = t_red>|</span>
	</tmpl_if>
	<p />
	<big><big> <tmpl_var name = "name" /></big></big>
	<small><span class = "lighter"> (<tmpl_var name = "uid" />) </span></small>
	<tmpl_if name = "user_type" value = "approver">
		<span class = "t_red">(Approver)</span>&nbsp;
	</tmpl_if>
	<big><big>| Receipt Info</big></big>
	<hr />

<tmpl_if name = "show_info" value = "no">
</body>
</html>
<tmpl_else>
	<center>
		<span class = "lighter">id </span>: <tmpl_var name = "id" />
	</center>
	<p />

	<table>
	<tbody>

	<tr>
		<td rowspan = "19">
		<img src = '/get_image/<tmpl_var name = "image_path" />/medium/<tmpl_var name = "image_name" />' width = "300" height = "300" />
		</td>

		<td><big><span class = "lighter">Uploaded at </span></big></td>
		<td> : <tmpl_var name = "images_timestamp" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter">Tagged at </span></big></td>
		<td> : <tmpl_var name = "tags_timestamp" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.department" /></span></big></td>
		<td> : <tmpl_var name = "department" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.employee_number" /></span></big></td>
		<td> : <tmpl_var name = "employee_number" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.cost_codes" /> </span></big></td>
		<td> : <tmpl_var name = "cost_codes" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.account_codes" /></span></big></td>
		<td> : <tmpl_var name = "account_codes" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.po_num" /></span></big></td>
		<td> : <tmpl_var name = "po_num" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.supplier_name" /></span></big></td>
		<td> : <tmpl_var name = "supplier_name" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.supplier_town" /></span></big></td>
		<td> : <tmpl_var name = "supplier_town" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.currency" /></span></big></td>
		<td> : <tmpl_var name = "currency" /></td>
	</tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.gross_amount" /></span></big></td>
		<td> : <tmpl_var name = "gross_amount" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.vat_amount" /></span></big></td>
		<td> : <tmpl_var name = "vat_amount" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.net_amount" /></span></big></td>
		<td> : <tmpl_var name = "net_amount" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.vat_rate" /></span></big></td>
		<td> : <tmpl_var name = "vat_rate" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.vat_number" /></span></big></td>
		<td> : <tmpl_var name = "vat_number" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.reason" /></span></big></td>
		<td> : <tmpl_var name = "reason" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.receipt_date" /></span></big></td>
		<td> : <tmpl_var name = "receipt_date" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter"><tmpl_var name = "fields.payment_method" /></span></big></td>
		<td> : <tmpl_var name = "payment_method" /></td>
	</tr>
	<tr>
		<td><big><span class = "lighter">Approval Status</span></big></td>
		<td> :&nbsp;
			<tmpl_if name = "approved" value = "rejected">
				<span class = "t_red">Rejected</span>
			<tmpl_elsif name = "approved" value = "pending">
				<span class = "t_yellow">Pending</span>
			<tmpl_else>
				<span class = "t_green">Approved</span>
			</tmpl_if>
		</td>
	</tr>

	</tbody>
	</table>

</body>
</html>
</tmpl_if>
