<html>
<head>
	<title>receiptomatic / reviewed receipts</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | <a href = "/tagged_receipts/">tagged receipts</a> | <a href = "/prefs/">preferences</a> |
	<!-- #BEGINZONE approver -->
	&nbsp;<span class = t_red>|</span> <a href = "/approve_receipts/"> approve receipts</a> | reviewed receipts</a> | <a href = "/extract_data/">extract data</a> <span class = t_red>|</span>
	<!-- #ENDZONE approver -->
	<!-- #BEGINZONE admin -->
	&nbsp;<span class = t_blue>|</span> <a href = "/admin/">admin</a> <span class = t_blue>|</span>
	<!-- #ENDZONE admin -->
	<p />
	##user_hdr##
	<big><big>| Previously Reviewed Receipts</big></big>
	<hr />

<!-- #BEGINZONE receipts -->
	<center>
	<table cellpadding = "4">
	<tbody>
	<tr>

<!-- #BEGINTABLE table -->
		<td>
		<a href = "/receipt_info/##id##">
		<img src = "/get_image/##image_path##/small/##image_name##"
			width = "180" height = "180" /></a>
		<br />
		<span class = "lighter">
			User:
		</span>
		&nbsp;##user##
		<span class = "lighter"><small>&nbsp;(##uid##)</small></span>
		<br />
		<span class = "lighter">##review_date##:</span>
		&nbsp;##apdate##
		<br />
		<span class = "lighter">##f.receipt_date##:</span>
		&nbsp;##rdate##
		<br />
		<span style = "color: rgb(130, 130, 130);">
			Approval Status:&nbsp;
		</span>
		<!-- #BEGINZONE rejected -->
			<span class = "t_red">Rejected</span>
		<!-- #ENDZONE rejected -->
		<!-- #BEGINZONE approved -->
			<span class = "t_green">Approved</span>
		<!-- #ENDZONE approved -->
		</td>
		<!-- #BEGINZONE close_row -->
			</tr>
		<!-- #ENDZONE close_row -->
		<!-- #BEGINZONE new_row -->
			<tr>
		<!-- #ENDZONE new_row -->
<!-- #ENDTABLE table -->
	</tr>
	</tbody>
	</table>
	</center>

	<!-- #BEGINZONE multi_page -->
		<!-- #BEGINZONE prev_page -->
			<a href = "/reviewed_receipts/?page_no=##prev_page##"> Prev Page </a>
		<!-- #ENDZONE prev_page -->
		&nbsp;::&nbsp;
		<!-- #BEGINZONE next_page -->
			<a href = "/reviewed_receipts/?page_no=##next_page##"> Next Page </a>
		<!-- #ENDZONE next_page -->
	<!-- #ENDZONE multi_page -->

<!-- #ENDZONE receipts -->
</body>
</html>
