<html>
<head>
	<link href = "/static/css/main.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
	| <a href = "/logout/">logout</a> | <a href = "/receipts/">receipts</a> | tagged receipts | <a href = "/prefs/fmap/">field mapping</a> |
	<p />
	<big><big> <tmpl_var name = "name" />&nbsp;</big></big>
	<tmpl_if name = "user_type" value = "approver">
		<span class = "t_red">(Approver)</span>&nbsp;
	</tmpl_if>
	<big><big>| Previously Tagged Receipts</big></big>
	<hr />

<tmpl_if name = "receipts" value = "no">
</body>
</html>
<tmpl_else>
	<center>
	<table cellpadding = "4">
	<tbody>
	<tr>

<tmpl_loop name = "table">
		<td>
		<a href = '/receipt_info/?image_id=<tmpl_var name = "id" />'>
		<img src = '/get_image/<tmpl_var name = "image_path" />/small/<tmpl_var name = "image_name" />' width = "180" height = "180" /></a>
		<br />
		<span class = "lighter">
			<tmpl_var name = "fields.receipt_date" />:
		</span>
		&nbsp;<tmpl_var name = "receipt_date" />
		<br />
		<span style = "color: rgb(130, 130, 130);">
			Approval Status:&nbsp;
		</span>
		<tmpl_if name = "approved" value = "rejected">
			<span class = "t_red">Rejected</span>
		<tmpl_elsif name = "approved" value = "pending">
			<span class = "t_yellow">Pending</span>
		<tmpl_else>
			<span class = "t_green">Approved</span>
		</tmpl_if>
		</td>
		<tmpl_if name = "close_row" value = "yes">
			</tr>
		</tmpl_if>
		<tmpl_if name = "new_row" value = "yes">
			<tr>
		</tmpl_if>
</tmpl_loop>
	</tr>
	</tbody>
	</table>
	</center>

	<a href = '/tagged_receipts/?page_no=<tmpl_var name = "prev_page" />'> Prev Page </a>
	&nbsp;::&nbsp;
	<a href = '/tagged_receipts/?page_no=<tmpl_var name = "next_page" />'> Next Page </a>

</body>
</html>
</tmpl_if>
