IMAGE_PATH=/path/to/receiptomatic/receipt_images
BASE_URL=https://receiptomatic.example.com
SESSION_DB=/dev/shm/receiptomatic-www-sessions.tct
DB_USER=receiptomatic
DB_PASS=password
DB_NAME=receiptomatic
MAIL_CMD=/usr/sbin/sendmail -t
MAIL_FROM=someone@example.com
MAIL_REPLY_TO=someone@example.com
MAIL_SUBJECT=Receiptomatic Account Activation
